

.mostrar{
    display: inline-block;
}
button{
    color:black;
    background-color: #d8d8d4;
    font-family: "Quicksand", serif;
    font-size: 20px;
    border-radius: 20px !important;
    text-align:center;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
   
}

.titolPetit{
   font-size: 20px;
   color: #e6b0aa ;

}
button:hover{
    transform: scale(1.1);
}

h1{
    font-size: 80%;
}

img{
    width: 40%;
   
}

.container{
    display: flex;
    flex-direction: column;
    margin: 30px auto;}

